@font-face {
    font-family: PressStart;
    src: url("/static/Fonts/PressStart.ttf");
}

#homePageContainer {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymWwajKI7Ur8sUbI8RxPgGz9sYjprzpIv0A&usqp=CAU);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#homePageContainer * {
    font-family: PressStart;
}