<div class="container-fluid d-flex justify-content-center align-items-center" id="endGameContainer">
    <div class="row w-100">
        <div class="col-12 col-md-6 offset-md-3 scoreBox">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="endGamePointsDiv">
                            <p class="playerDescription">{{ texts.player1 }}</p>
                            <p class="playerName">{{ user.get_username }}</p>
                            <img alt="player one picture" class="playerScore1v1Picture" id="score1v1Player1Picture"/>
                            <p id="playerOnePoints" class="scorePoints1v1"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="endGamePointsDiv">
                            <p class="playerDescription">{{ texts.player2 }}</p>
                            <p class="playerName" id="opponentName"></p>
                            <img alt="player two picture" class="playerScore1v1Picture" id="score1v1Player2Picture" />
                            <p id="playerTwoPoints" class="scorePoints1v1"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 endGameButton">
                    <button class="btn btn-success w-100" onclick="play1v1Again()">{{ texts.playAgain }}</button>
                </div>
                <div class="col-12 endGameButton">
                    <button class="btn btn-secondary w-100" onclick="oneVoneContinue()">{{ texts.continue }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
