<div class="container-fluid d-flex justify-content-center align-items-center" id="endGameContainer">
    <div class="row w-100">
        <div class="col-12 col-md-6 offset-md-3 scoreBox">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="endGamePointsDiv">
                            <p class="playerDescription">Player 1</p>
                            <p class="playerName">{{ user.get_username }}</p>
                            <p id="playerOnePoints"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="endGamePointsDiv">
                            <p class="playerDescription">Player 2</p>
                            <p class="playerName" id="opponentName"></p>
                            <p id="playerTwoPoints"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 endGameButton">
                    <button class="btn btn-success w-100" onclick="play1v1Again()">Play Again</button>
                </div>
                <div class="col-12 endGameButton">
                    <button class="btn btn-secondary w-100" onclick="oneVoneContinue()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
