<div class="ModalContainer container-fluid" id="oneVoneMatchmakingModal">
    <div class="ModalContainerBG"></div>
    <div id="matchmakingBox">
        <div id="matchmakingBoxActive">
            <p id="searchingPlayersText">Searching for players</p>
            <img
                alt="loading"
                id="searchingGif"
                 src="/static/images/matchmakingGif.gif"
            />
            <button
                class="btn btn-danger cancelMatchmakingButton"
                onclick="closeMatchmakingModal()"
            >Cancel</button>
        </div>
        <div id="matchmakingBoxNonActive">
            <p>Opponent not found</p>
            <button
                class="btn btn-secondary"
                onclick="searchOpponent()"
            >Try again</button>
            <button
                class="btn btn-danger cancelMatchmakingButton"
                onclick="closeMatchmakingModal()"
            >Cancel</button>
        </div>
    </div>
</div>