<div class="container-fluid" id="pongTournamentStart">
    <div class="blackOverlay"></div>
    <div class="row w-100">
		<div class="col-12 w-100">
			<div class="row w-100">
				<div class="col-12 col-md-6">
					<div class="oneVoneModeArea w-100">
						<h3>Play local</h3>
						<p>Dive into local 1v1 Pong battles for instant fun! Grab a friend, set up the game, and engage in lively Pong matches. With paddles in hand, challenge each other in quick games, experiencing the classic thrill of local multiplayer Pong. It's fast-paced, it's fun - enjoy the excitement together!</p>
						<button class="btn btn-secondary">Play local</button>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="oneVoneModeArea w-100">
						<h3>Play remote</h3>
						<p>Experience the excitement of remote 1v1 Pong matches! Dive into quick, thrilling games by joining the matchmaking pool. Connect with another player online and engage in intense Pong battles, where every move counts. Challenge your skills in this dynamic and fast-paced multiplayer experience.</p>
						<button class="btn btn-secondary"
							onclick="openMatchmakingModal()"
						>Play remote</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "Pong1v1Pages/matchmakingModal.html" %}
</div>
