{% include "menus.html" %}
<div class="container-fluid" id="pongTournamentStart">
    <div class="blackOverlay"></div>
    <div class="row w-100">
		<div class="col-12 w-100">
			<div class="row w-100">
				<div class="col-12 col-md-6">
					<div class="oneVoneModeArea w-100">
						<h3>{{ texts.title1v1 }}</h3>
						<p>{{ texts.description1v1 }}</p>
						<button class="btn btn-secondary" onclick="navigateTo('/pong/single/1v1')">{{ texts.title1v1 }}</button>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="oneVoneModeArea w-100">
						<h3>{{ texts.title2v2 }}</h3>
						<p>{{ texts.description2v2 }}</p>
						<button class="btn btn-secondary" onclick="navigateTo('/pong/single/2v2')">{{ texts.title2v2 }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
