<div class="container-fluid" id="pongTournamentStart">
    <div class="blackOverlay"></div>
    <div class="row w-100">
		<div class="col-12 w-100">
			<div class="row w-100">
				<div class="col-12 col-md-6">
					<div class="oneVoneModeArea w-100">
						<h3>Play 1v1</h3>
						<p>Engage in pulse-pounding 1v1 Pong battles! Challenge friends or test your mettle against opponents worldwide in this classic arcade showdown. With precise controls and lightning-fast gameplay, every match is an adrenaline-fueled test of skill and reflexes. Are you ready to claim victory and become the ultimate Pong champion?</p>
						<button class="btn btn-secondary">Play 1v1</button>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="oneVoneModeArea w-100">
						<h3>Play 2v2</h3>
						<p>Team up for exhilarating 2v2 Pong action! Coordinate with a partner as you face off against rival duos in fast-paced, cooperative matches. With strategic gameplay and intense rallies, communication and teamwork are key to dominating the scoreboard. Join forces and experience the thrill of victory in this dynamic arcade adventure!</p>
						<button class="btn btn-secondary"
							onclick="openMatchmakingModal()"
						>Play 2v2</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "Pong1v1Pages/matchmakingModal.html" %}
</div>
