<div class="splashView" style="min-height: 100vh">
    <div class="leftSide">
        <div class="splashContent">
            <h2>Team 1</h2>
            <div class="splashPlayerContent">
                <img alt="player one picture"
                     class="splashPlayerPicture"
                     id="splashPlayerOnePicture"
                     src="{{ source }}" />
                <p id="splashPlayerOneName">{{ user.get_username }}</p>
            </div>
            <div class="splashPlayerContent">
                <img alt="player two picture"
                     class="splashPlayerPicture"
                     id="splashPlayer2Picture"
                />
                <p id="splashPlayer2Name"></p>
            </div>
        </div>
    </div>
    <div class="splashDivider"></div>
    <div class="rightSide">
        <div class="splashContent">
            <h2>Team 2</h2>
            <div class="splashPlayerContent">
                <img alt="player three picture"
                     class="splashPlayerPicture"
                     id="splashPlayer3Picture" />
                <p id="splashPlayer3Name"></p>
            </div>
            <div class="splashPlayerContent">
                <img alt="player four picture"
                     class="splashPlayerPicture"
                     id="splashPlayer4Picture" />
                <p id="splashPlayer4Name"></p>
            </div>
        </div>
    </div>
</div>