<div class="splashView" style="min-height: 100vh">
    <div class="leftSide">
        <div class="splashContent">
            <img
                 alt="player one picture"
                 class="splashPlayerPicture"
                 id="splashPlayerOnePicture"
                 src="{{ source }}"
            />
            <p class="splashPlayerName" id="splashPlayerOneName">{{ user.get_username }}</p>
        </div>
    </div>
    <div class="splashDivider"></div>
    <div class="rightSide">
        <div class="splashContent">
            <img alt="player two picture"
                 class="splashPlayerPicture"
                 id="splashPlayerTwoPicture"
            />
            <p class="splashPlayerName" id="splashPlayerTwoName"></p>
        </div>
    </div>
</div>