<div class="container-fluid d-flex justify-content-center align-items-center" id="endGameContainer">
    <div class="row w-100">
        <div class="col-12 col-md-10 offset-md-1 scoreBox">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="endGamePointsDiv">
                            <p>Team 1</p>
                            <div class="teamPlayersPictureDiv">
                                <div class="teamPlayerInfo">
                                    <img alt="Player one picture"
                                         class="teamPlayersPicture"
                                         id="score2v2Player1Picture" />
                                    <p class="teamPlayersName" id="score2v2Player1Name"></p>
                                </div>
                                <div class="teamPlayerInfo">
                                    <img alt="Player four picture"
                                         class="teamPlayersPicture"
                                         id="score2v2Player4Picture" />
                                    <p class="teamPlayersName" id="score2v2Player4Name"></p>
                                </div>
                            </div>
                            <p class="score2v2Points" id="playerOnePoints"></p>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="endGamePointsDiv">
                            <p>Team 2</p>
                            <div class="teamPlayersPictureDiv">
                                <div class="teamPlayerInfo">
                                    <img alt="Player three picture"
                                         class="teamPlayersPicture"
                                         id="score2v2Player2Picture" />
                                    <p class="teamPlayersName" id="score2v2Player2Name"></p>
                                </div>
                                <div class="teamPlayerInfo">
                                    <img alt="Player four picture"
                                         class="teamPlayersPicture"
                                         id="score2v2Player3Picture" />
                                    <p class="teamPlayersName" id="score2v2Player3Name"></p>
                                </div>
                            </div>
                            <p class="score2v2Points" id="playerTwoPoints"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 endGameButton">
                    <button class="btn btn-success w-100" onclick="play2v2Again()">Play Again</button>
                </div>
                <div class="col-12 endGameButton">
                    <button class="btn btn-secondary w-100" onclick="twoVtwoContinue()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
