<div class="row">
	<div class="col-12">
		<div class="boardContainer">
			<div class="board">
				<div id="board-img">
					<div class="player-place horizontal" id="player1-place">
						<p id="player1-place-name">{{user.get_username}}</p>
						<div>
							<p>Keys:</p>
							<p>Up: W</p>
							<p>Down: S</p>
						</div>
					</div>
					<div class="player-place vertical" id="player2-place">
						<p id="player2-place-name">Player 2</p>
						<div>
							<p>Keys:</p>
							<p>Left: F</p>
							<p>Right: G</p>
						</div>
					</div>
					<div class="player-place horizontal" id="player3-place">
						<p id="player3-place-name">Player 3</p>
						<div>
							<p>Keys:</p>
							<p>Up: W</p>
							<p>Down: S</p>
						</div>
					</div>
					<div class="player-place vertical" id="player4-place">
						<p id="player4-place-name">Player 4</p>
						<div>
							<p>Keys:</p>
							<p>Left: J</p>
							<p>Right: K</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
