<div class="row">
	<div class="col-12">
		<div class="boardContainer">
			<div class="board">
				<div id="board-img">
					<div class="player-place horizontal" id="player1-place">
						<p class="invite2v2PlayerName w-100 text-center" id="player1-place-name">{{user.get_username}}</p>
						<div>
							<p>{{ texts.keys }}</p>
							<p>{{ texts.up }}: W</p>
							<p>{{ texts.down }}: S</p>
						</div>
					</div>
					<div class="player-place vertical" id="player2-place">
						<p class="invite2v2PlayerName w-100 text-center" id="player2-place-name">{{ texts.player2 }}</p>
						<div>
							<p>{{ texts.keys }}</p>
							<p>{{ texts.left }}: F</p>
							<p>{{ texts.right }}: G</p>
						</div>
					</div>
					<div class="player-place horizontal" id="player3-place">
						<p class="invite2v2PlayerName w-100 text-center" id="player3-place-name">{{ texts.player3 }}</p>
						<div>
							<p>{{ texts.keys }}</p>
							<p>{{ texts.up }}: {{ texts.arrowUp }}</p>
							<p>{{ texts.down }}: {{ texts.arrowDown }}</p>
						</div>
					</div>
					<div class="player-place vertical" id="player4-place">
						<p class="invite2v2PlayerName w-100 text-center" id="player4-place-name">{{ texts.player4 }}</p>
						<div>
							<p>{{ texts.keys }}</p>
							<p>{{ texts.left }}: J</p>
							<p>{{ texts.right }}: K</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
