#loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(153, 144, 144, 0.46);

	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
}

.loading-spinner {
	width: 100px;
	height: 100px;
}
