#Navbar {
	height: 10vh;
}

#navbar-logo {
	content: url("https://static.vecteezy.com/system/resources/previews/006/507/351/original/ping-pong-with-table-tennis-ball-cartoon-icon-illustration-sport-object-icon-concept-isolated-premium-flat-cartoon-style-vector.jpg");
	height: 8vh;
	border-radius: 50%;
}