<div class="row" style="height: 100vh;">
	<div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3" style="height: 100%;">
		<div class="d-flex align-items-center justify-content-center h-100">
			<div id="tournamentExistsBox">
				<h3>Pong local tournament</h3>
				<div class="alreadyTournamentSubArea">
					<p>You have already a tournament going on.</p>
					<p>Do you wish to continue it?</p>
					<button
						type="button"
						class="btn btn btn-success w-100 alreadyTournamentButton"
						id="continueOldTournamentButton"
					>Continue</button>
				</div>
				<div class="alreadyTournamentSubArea">
					<p style="border-bottom: 0;">or create a new tournament</p>
					<p id="deleteInfo">Your old open tournament will be delete</p>
					<button
						type="button"
						class="btn btn btn-success w-100 alreadyTournamentButton"
						id="newTournamentButton"
					>Create new tournament</button>
				</div>
			</div>
		</div>
	</div>
</div>
