<li class="option">
    <img alt="opponentPicture"
         class="opponentToInvitePicture"
         id="opponentPicture"/>
    <span class="label" id="opponentName"></span>
	<div class="invitedButtons">
		<button class="invitedButton" onclick="acceptInvitation()">
			<img alt="accept"
				 class="invitedButton"
				 id="acceptInvite"/>
		</button>
		<button class="invitedButton" onclick="declineInvitation()">
			<img alt="reject"
				 class="invitedButton"
				 id="rejectInvite"/>
		</button>
	</div>
</li>
