<div class="row" style="height: 100vh;">
	<div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3" style="height: 100%;">
		<div class="d-flex align-items-center justify-content-center h-100">
			<div id="tournmentCreationBox">
				<div class="row">
					<div class="col-12">
						<h3 id="tournamentRegistrationTitle">{{ texts.formTitle }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<form onsubmit="createTournament(event)" id="tournamentCreationForm">
							<div class="form-group">
								<label for="tournament_name">{{ texts.nameLabel }}</label>
								<input type="text"
										name="tournament_name"
										placeholder="{{ texts.namePlaceholder }}"
										class="form-control"
										id="tournament_name"
										required
										maxlength="15"
								/>
							</div>
							<div class="form-group">
								<label for="totalPlayers">{{ texts.amountLabel }}</label>
								<select id="totalPlayers" class="form-control" name="totalPlayers" required>
									<option value="4">4</option>
									<option value="8">8</option>
								</select>
							</div>
							{{ username|json_script:"username" }}
							<div class="d-flex align-items-center justify-content-center flex-column">
								<button
									type="submit"
									class="btn btn-success tournamentCreationButton"
									style="width: 60%;"
								>
									{{ texts.create }}
								</button>
								<button
									type="button"
									class="btn btn-danger tournamentCreationButton"
									onclick="navigateTo('/pong')"
								>
									{{ texts.cancel }}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
