<div class="container-fluid" id="pongTournamentStart">
    <div class="blackOverlay"></div>
    <div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="invitationBox">
				<div class="row">
					<div class="col-12" style="overflow-x: visible;">
						<div class="tabButtonsDiv">
							<button class="tabButton">Invite other player</button>
							<button class="tabButton">Invitations</button>
							<div class="line"></div>
						</div>
					</div>
					<div class="col-12">
						<div class="tabContentDiv">
							<div class="tabContent">
								<div class="row">
									<div class="col-md-6">
										<h4>Friends</h4>
									</div>
									<div class="col-md-6">
										<h4>Online players</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div id="friendsToInviteBox">
											<ul id="options">

											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div id="othersToInviteBox"></div>
									</div>
								</div>
							</div>
							<div class="tabContent">
								<h4>Your current invitations</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<button class="btn btn-success w-100">Invite</button>
			</div>
		</div>
	</div>
</div>
