{% include "menus.html" %}
<div class="container-fluid" id="pongPageContainer">
	<div class="blackOverlay"></div>
	<div class="row protectedPageContent">
		<div class="col-12">
			<div class="row">
				<div class="col-12 pongDescriptionArea">
					<h2>Pong</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="row">
						<div class="col-12 pongDescriptionArea">
							<h4>Tournament mode</h4>
							<p>
								Step into the world of competitive pong with the "FT-Transcendence Pong" tournament,
								where skill, precision, and transcendence collide on the virtual table. This ping pong
								extravaganza invites players of all levels to showcase their mastery in a series of
								exhilarating matches.
							</p>
							<div class="w-100 d-flex align-items-center justify-content-center">
								<button
									class="pongPageButton"
										onclick="navigateTo('/pong/tournament')"
								>Start Tournament</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 pongDescriptionArea">
					<div class="row">
						<div class="col-12">
							<h4>1v1 mode</h4>
							<p>
								Embark on an immersive journey into the digital realm with the Virtual
								Pong Showdown: Challenge Edition! This adrenaline-pumping experience invites
								you and your friends to a head-to-head 1v1 battle in the iconic game of Pong.
								Challenge a friend, showcase your virtual paddle skills, and emerge victorious
								in this thrilling multiplayer extravaganza
							</p>
							<div class="w-100 d-flex align-items-center justify-content-center">
								<button class="pongPageButton" onclick="play1v1()">Play now</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
