<div class="container-fluid" id="pongTournamentStart">
    <div class="blackOverlay"></div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="invitationBox">
                <div class="row">
                    <div class="col-12" style="overflow-x: visible;">
                        <div class="tabButtonsDiv">
                            <button class="tabButton">Create</button>
                            <button class="tabButton">Join</button>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="tabContentDiv">
                            <div class="tabContent">
                                <div class="row">
                                    <div class="col-12 mt-4">
                                        <h4>Create new tournament</h4>
                                        {% include "PongTournamentPages/remoteTournamentForm.html" %}
                                    </div>
                                </div>
                            </div>
                            <div class="tabContent">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="w-100">
                                            <h4 id="serverListTitle">Server list</h4>
                                            <div class="w-100 joinServerTitles">
                                                <div class="row">
                                                    <div class="col-3">
                                                        Server
                                                    </div>
                                                    <div class="col-3">
                                                        #/#
                                                    </div>
                                                    <div class="col-3">
                                                        Status
                                                    </div>
                                                    <div class="col-3">
                                                        Play
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 openGamesList">
                                                <div class="row">
                                                    <div class="col-3">
                                                        42
                                                    </div>
                                                    <div class="col-3">
                                                        1/4
                                                    </div>
                                                    <div class="col-3">
                                                        Pending
                                                    </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-secondary w-100">Join</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-danger" id="cancelInvitationPageButton" onclick="navigateTo('/pong')">Cancel</button>
            </div>
        </div>
    </div>
</div>