<div class="container-fluid" id="remoteLobbyContainer">
	<div class="darkOverlay"></div>
	<div class="row align-items-center" style="height: 100vh;">
		<div class="col-12 col-md-8 col-xl-6 offset-md-2 offset-xl-3 justify-content-center">
			<div class="w-100" id="remoteLobbyBox">
				<div class="row">
					<div class="col-12 remoteLobbyTitles">
						<h4>Name</h4>
						<h6>Lobby</h6>
						<p>1/4</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="w-100 remoteLobbyConnectionsBox">
							<div class="row remoteLobbyConnectionsBoxTitles">
								<div class="col-8">Name</div>
								<div class="col-4">Status</div>
							</div>
							<div class="row connectedItem">
								<div class="col-8">Andre</div>
								<div class="col-4">Ready</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 offset-3">
						<button class="btn btn-success w-100 remoteLobbyBtn">Ready</button>
					</div>
					<div class="col-6 offset-3">
						<button class="btn btn-danger w-100 remoteLobbyBtn">Leave</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
