<div class="row">
    <div class="col-12">
        <h2 id="tournamentTitle"></h2>
        <h5 id="tournamentLobbyTitle">Lobby</h5>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <div class="row">
                    <div class="col-12">
                        <h5 id="registeredPlayersTitle">{{ texts.registeredPlayers }}</h5>
                        <p id="currentNumberPlayers"></p>
                    </div>
                    <div class="col-12">
                        <div id="registeredPlayerBox"></div>
                        <button class="btn btn-success addNewPlayerBtn"
                                onclick="openRegisterPlayerModal()"
                                id="addNewPlayerButton">
                            {{ texts.addNewPlayer }}
                            <img alt="add player button"
                                 src="/static/images/add.png"
                                 class="registerNewPlayerButtonIcon" />
                        </button>
                        <button class="btn btn-success addNewPlayerBtn"
                                onclick="startTournament()"
                                id="startTournamentBtn">
                            {{ texts.start }}
                        </button>
                        <button class="btn btn-danger addNewPlayerBtn"
                                onclick="cancelAndDeleteTournament()">
                            {{ texts.cancel }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
