<div class="ModalContainer container-fluid">
    <div class="ModalContainerBG" onclick="toggleModal()"></div>
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
            <div class="d-flex align-items-center justify-content-center flex-column w-100 pongModalBox">
                <div class="row">
                    <div class="col-12">
                        <h4>Pong Tournament</h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="d-flex align-items-center justify-content-center flex-column w-100 typeDescription">
                            <h6>Local Pong</h6>
                            <p>Join together with your friends and challenge them in this local tournament to see which of you is the best</p>
                            <button class="btn btn-secondary w-100" 
                                    onclick="navigateTo('/pong/tournament')">Play Local</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="d-flex align-items-center justify-content-center flex-column w-100 typeDescription">
                            <h6>Remote Tournament</h6>
                            <p>Join or create a tournament to play against another players all over the world</p>
                            <button class="btn btn-secondary w-100"
                                    onclick="">Play Remote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>