<div class="container-fluid" id="bracketModal">
	<div class="bracketBg" onclick="closeTournamentBracketModal()"></div>
	<div class="row w-100">
		<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
			<div class="w-100 bracketBox">
				<div class="bracketStageDiv">
					<p>Quarterfinals</p>
					<p>Semi Finals</p>
					<p>Final</p>
				</div>
				<div class="bracket">
					<div class="round">
						<div class="match" data-id="1">
							<div class="team">
								<p class="teamName">Home</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 1</p>
							<div class="team">
								<p class="teamName">Away</p>
								<p class="points"></p>
							</div>
						</div>
						<div class="match" data-id="2">
							<div class="team">
								<p class="teamName">Home</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 2</p>
							<div class="team">
								<p class="teamName">Away</p>
								<p class="points"></p>
							</div>
						</div>
						<div class="match" data-id="3">
							<div class="team">
								<p class="teamName">Home</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 3</p>
							<div class="team">
								<p class="teamName">Away</p>
								<p class="points"></p>
							</div>
						</div>
						<div class="match" data-id="4">
							<div class="team">
								<p class="teamName">Home</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 4</p>
							<div class="team">
								<p class="teamName">Away</p>
								<p class="points"></p>
							</div>
						</div>
					</div>
					<div class="round">
						<div class="match" data-id="5">
							<div class="team">
								<p class="teamName">Winner match 1</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 5</p>
							<div class="team">
								<p class="teamName">Winner match 2</p>
								<p class="points"></p>
							</div>
						</div>
						<div class="match" data-id="6">
							<div class="team">
								<p class="teamName">Winner match 3</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 6</p>
							<div class="team">
								<p class="teamName">Winner match 4</p>
								<p class="points"></p>
							</div>
						</div>
					</div>
					<div class="round">
						<div class="match" data-id="7">
							<div class="team">
								<p class="teamName">Winner match 5</p>
								<p class="points"></p>
							</div>
							<p class="matchID">Match 7</p>
							<div class="team">
								<p class="teamName">Winner match 6</p>
								<p class="points"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
