<div class="container-fluid" id="bracketModal">
    <div class="bracketBg" onclick="closeTournamentBracketModal()"></div>
    <div class="row w-100">
        <div class="col-12 bracketBox" id="bracketBox16">
            <div class="bracket" id="bracket16">
                <div class="round">
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
                <div class="round">
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
                <div class="round">
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
                <div class="round">
                    <div class="finalMatch">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
                <div class="round">
                    <div class="finalMatch">
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
                <div class="round">
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
                <div class="round">
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                    <div class="match">
                        <div class="team">
                            <div class="teamName">Home</div>
                            <div class="points"><p>0</p></div>
                        </div>
                        <div class="team">
                            <div class="teamName">Away</div>
                            <div class="points"><p>0</p></div>
                        </div>
                    </div>
                </div>
				<div class="round">
					<div class="match">
						<div class="team">
							<div class="teamName">Home</div>
							<div class="points"><p>0</p></div>
						</div>
						<div class="team">
							<div class="teamName">Away</div>
							<div class="points"><p>0</p></div>
						</div>
					</div>
					<div class="match">
						<div class="team">
							<div class="teamName">Home</div>
							<div class="points"><p>0</p></div>
						</div>
						<div class="team">
							<div class="teamName">Away</div>
							<div class="points"><p>0</p></div>
						</div>
					</div>
					<div class="match">
						<div class="team">
							<div class="teamName">Home</div>
							<div class="points"><p>0</p></div>
						</div>
						<div class="team">
							<div class="teamName">Away</div>
							<div class="points"><p>0</p></div>
						</div>
					</div>
					<div class="match">
						<div class="team">
							<div class="teamName">Home</div>
							<div class="points"><p>0</p></div>
						</div>
						<div class="team">
							<div class="teamName">Away</div>
							<div class="points"><p>0</p></div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
