<div class="container-fluid" id="bracketModal">
    <div class="bracketBg" onclick="closeTournamentBracketModal()"></div>
    <div class="row w-100">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <div class="w-100 bracketBox">
                <div class="bracketStageDiv">
                    <p>{{ texts.semiFinal }}</p>
                    <p>{{ texts.final }}</p>
                </div>
                <div class="bracket">
                    <div class="round">
                        <div class="match" data-id="1">
                            <div class="team">
                                <p class="teamName">{{ texts.home }}</p>
                                <p class="points"></p>
                            </div>
                            <p class="matchID">{{ texts.match }} 1</p>
                            <div class="team">
                                <p class="teamName">{{ texts.away }}</p>
                                <p class="points"></p>
                            </div>
                        </div>
                        <div class="match" data-id="2">
                            <div class="team">
                                <p class="teamName">{{ texts.home }}</p>
                                <p class="points"></p>
                            </div>
                            <p class="matchID">{{ texts.match }} 2</p>
                            <div class="team">
                                <p class="teamName">{{ texts.away }}</p>
                                <p class="points"></p>
                            </div>
                        </div>
                    </div>
                    <div class="round">
                        <div class="match" data-id="3">
                            <div class="team">
                                <p class="teamName">{{ texts.winnerFromMatch }} 1</p>
                                <p class="points"></p>
                            </div>
                            <p class="matchID">{{ texts.match }} 3</p>
                            <div class="team">
                                <p class="teamName">{{ texts.winnerFromMatch }} 2</p>
                                <p class="points"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>