.slider-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	border: 1px solid red;
}
.sliderbox {
	width: 100%;
}
.gallery-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
}
.slider-img {
	opacity: 1;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 0;
	border-radius: 15px;
	background-size: contain;
}

.slider-image-0, .slider-image-2 {
	box-shadow:  -2px 5px 33px 6px rgb(28, 27, 27);
	height: auto;
	opacity: 0.8;
	width: 80%;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}
.slider-image-0 {
	left: 30%;
	transform: translateX(-50%);
	transition: all 0.3s ease-in-out;
}

.slider-image-1{
	box-shadow:  -2px 5px 33px 6px rgb(28, 27, 27);
	height: auto;
	opacity: 1;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 2;
	transition: all 0.3s ease-in-out;
}

.slider-image-2 {
	left: 70%;
	transform: translateX(-50%);
	transition: all 0.3s ease-in-out;
}

.slide-button {
	border: none;
	background-color: transparent;
	margin: auto 30px;
	transition: all 0.25s linear;
}
.slide-button:hover {
	transform: scale(1.1);
}

.previous-slide-button {
	transform: rotateY(180deg);
}

@media only screen and (max-width: 576px) {
	.slider-image-0, .slider-image-2 {
		display: none;
	}
	.slider-image-1{
		height: auto;
		width: 80%;
	}
	.slide-button {
		margin: 130px 0 0 0;
	}
}


