#homepage-container {
	background-image: url("https://img.freepik.com/premium-photo/colorful-illustration-soocer-sports-background_916191-35544.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: 100vh;
	max-width: 100%;
}

#homepage-info-area {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#homepage-info-title {
	margin-top: 40vh;
}

#homepage-title {
	font-size: 4rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#homepage-subtitle {
	font-size: 2rem;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

#homepage-button {
	margin-top: 1vh;
	padding: 1vh 3vw;
	font-size: 1.5rem;
}

@media only screen and (max-width: 576px)
{
	#homepage-info-area {
		width: 90%;
	}
	#homepage-info-title {
		margin-top: 15vh;
	}

	#homepage-title {
		font-size: 3.rem;
	}

	#homepage-subtitle {
		font-size: 1.5rem;
	}
}
