* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body *{
	overflow-x: hidden;
}
@font-face {
	font-family: PressStart;
	src: url(Fonts/PressStart.ttf);
}

/* Gererals */
.inputError {
	background-color: red;
	font-family: PressStart;
	text-align: center;
}

@media only screen and (max-width: 576px) {.xs-hide {display: none;} }
@media only screen and (max-width: 768px) {.sm-hide {display: none;} }
@media only screen and (max-width: 992px) {.md-hide {display: none;} }
@media only screen and (max-width: 1200px) {.lg-hide {display: none;} }
@media only screen and (max-width: 1400px) {.xl-hide {display: none;} }
@media only screen and (min-width: 1401px) {.xxl-hide {display: none;} }

/* ******* */

#loginPasswordGroup {
	margin-top: 25px;
}



.pageContainer {
	min-height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#homepageContainer {
	min-height: 100vh;
	width: 100vw;

	background: url(https://png.pngtree.com/thumb_back/fh260/background/20230519/pngtree-two-ping-pong-rubber-ball-on-a-blue-surface-image_2619147.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#homepageTitle {
	position: relative;
	top: -10vh;
	align-items: center;
	font-size: 2rem;
	font-family: PressStart;
	color: whitesmoke;
	padding-top: 10vh;
}

#homepageButtons {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.homepageButton {
	font-family: PressStart;
	font-size: 1.3rem;
	padding: 10px 30px;
	border-radius: 5px;
	border: 5px solid black;
	background-color: antiquewhite;
	width: 100%;
	margin-top: 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: black;
}
.homepageButton:hover {
	background-color: black;
	border-color: whitesmoke;
	color: whitesmoke;
}
.homepageButton:active {
	border-color: aquamarine;
}

/*Login Page*/
.registerContainer {
	height: 100vh;
	width: 100vw;

	background: url(https://png.pngtree.com/thumb_back/fh260/background/20230519/pngtree-two-ping-pong-rubber-ball-on-a-blue-surface-image_2619147.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}
.registerTitle {
	font-family: PressStart;
	font-size: 2.3rem;
	text-align: center;
	margin: 25px auto;
	color: whitesmoke;
}
.loginLabel {
	font-family: PressStart;
	color: whitesmoke;
}

.registerLink {
	color: whitesmoke;
	font-family: PressStart;
	text-align: center;
	text-decoration: none;
	margin-top: 25px;
	width: 50%;
}
.registerLink:hover {
	color: orange;
}
.helptext {
	display: none;
}

#loginErrorMessage {
	background-color: red;
	font-family: PressStart;
	text-align: center;
}

/* Signup page */

#sign-up-box {
	background-color: rgba(86, 80, 73, 0.69);
	border: 3px solid black;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 50px 20px;
}

#signupTitle {
	padding-top: 0;
}

.signupErrorMessage {
	background-color: red;
	font-family: PressStart;
	text-align: center;
	font-size:0.75rem;
}

/* Spinner */
#loadingSpinnerContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(141, 125, 125, 0.553);
	z-index: 99;
}

/* Protected pages */

.protectedPageContent {
	margin-top: 75px;
	min-height: calc(100vh - 75px);
	padding: 20px;
}


@media only screen and (max-width: 776px)
{
	.protectedPageContent {
		margin-top: 75px;
		min-height: calc(100vh - 75px);
		padding: 20px;
		padding-bottom: 60px;
	}
}


/* Dashboard page */

#dashboardContainer {
	min-height: 100vh;
	width: 100vw;
	background: url(https://www.shutterstock.com/shutterstock/videos/1076615849/thumb/1.jpg?ip=x480);
	background-repeat: no-repeat;
	background-size: cover;
}

.dashboardSection {
	margin-top: 10px;
	margin-bottom: 10px;
}

#dashboardUserProfilePic {
	max-width: 150px;
	max-height: 150px;
	width: 80%;
	border-radius: 50%;
}
#dashboardUserCoalitionPic {
	max-width: 80px;
	max-height: 80px;
	width: 60%;
}
#dashboardUserProfilePic,
#dashboardUserCoalitionPic {
	margin: auto;
}

#dashboardUserProfileName,
#dashboardUserCoalitionName {
	font-family: PressStart;
	text-align: center;
}
.coalitionArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media only screen and (max-width: 576px) {
	.coalitionArea p{
		font-size: 8px;
	}
}



.darkOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.75);
}

/* Settings page */
.settingsContainer {
	background: url(https://b2316719.smushcdn.com/2316719/wp-content/uploads/2022/03/bg_01.jpg?lossy=1&strip=1&webp=1);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
}
.settingsBox {
	margin-top: 50px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: rgba(219, 213, 213, 0.635);
	padding: 15px 10px;
}
.settingsBox * {
	font-family: PressStart;
}
.settingsBox h2 {
	text-align: center;
}
.settingsBox form input {
	border: 3px solid black;
}
.changeProfileButton {
	margin: 5px auto;
}

#settingsModalContainer {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

#confirmationBox {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 2px solid black;
	background-color: rgba(209, 210, 211, 0.681);
	padding: 30px 20px;
}
