<div class="row">
    <div class="col-12">
        <div class="personalDiv">
            <div id="personalDivPicDiv">
                <img alt="friend picture"
                     id="friendAvatar"
                     src="{% if client.info.picture %}{{ client.info.picture }}{% else %}/static/images/profileIcon.png{% endif %}""/>
                {% if client.info.coallition == "The Builders" %}
                <img alt="friend coallition logo"
                     id="friendCoallitionLogo"
                     src="/static/images/The BuildersSymbol.svg" />
                {% elif client.info.coallition == "The Guards" %}
                <img alt="friend coallition logo"
                     id="friendCoallitionLogo"
                     src="/static/images/The GuardsSymbol.svg" />
                {% else %}
                <img alt="friend coallition logo"
                     id="friendCoallitionLogo"
                     src="/static/images/The ForagersSymbol.svg" />
                {% endif %}
            </div>
            <p class="text-center" id="userName">{{client.info.username}}</p>
            {% if client.info.online %}
            <p id="useronline_status"><span style="background-color: green"></span>Online</p>
            {% else %}
            <p id="useronline_status"><span style="background-color: red"></span>Offline</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
		{{ client.info.username|json_script:"username" }}
        <button class="btn btn-secondary w-100 friendButton" onclick="challengeForPong()">Challenge for pong</button>
        <button class="btn btn-danger w-100 friendButton {% if client.info.isFriend == 'T' %} active{% endif %}{% if client.info.isFriend != 'T' %} nonActive {% endif %}" id="removeFriendBtn" onclick="removeFromFriend('{{client.info.username}}')">Remove as friend</button>
        <button class="btn btn-secondary w-100 friendButton {% if client.info.isFriend == 'P' %} active{% endif %}{% if client.info.isFriend != 'P' %} nonActive {% endif %}" disabled id="waitingFriendBtn">Waiting acceptence</button>
        <button class="btn btn-success w-100 friendButton {% if client.info.isFriend == 'T' %} active{% endif %}{% if client.info.isFriend != 'F' %} nonActive {% endif %}" onclick="inviteToBeFriend('{{client.info.username}}')" id="addFriendBtn">Add as friend</button>
    </div>
</div>
