<div class="row">
    <div class="col-12">
        <div class="personalDiv">
            <div id="personalDivPicDiv">
                <img alt="friend picture"
                     id="friendAvatar"
                     src="/static/images/profileIcon.png" />
                <img alt="friend coallition logo"
                     id="friendCoallitionLogo"
                     src="/static/images/buildersSymbol.svg" />
            </div>
            <p id="userName">{{client.info.username}}</p>
            {% if client.info.online %}
            <p id="userOnlineStatus"><span style="background-color: green"></span>Online</p>
            {% else %}
            <p id="userOnlineStatus"><span style="background-color: red"></span>Offline</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-secondary w-100 friendButton">Challenge for pong</button>
        <button class="btn btn-dark w-100 friendButton">Challenge for snake</button>
        {% if client.info.isFriend %}
        <button class="btn btn-danger w-100 friendButton">Remove as friend</button>
        {% else %}
        <button class="btn btn-success w-100 friendButton">Add as friend</button>
        {% endif %}
    </div>
</div>
