<div class="lastGameItem">
    <div class="lastGameItemSubdiv userInfoArea">
        <div class="lastGameItemSubdiv-Info">
            <img
                alt="opponent picture"
                src={{game.picture}}
                class="lastGameItemPicture"
            />
            <p>{{game.username}}</p>
        </div>
    </div>
    <div class="lastGameItemSubdiv typeGameArea">
        {% if game.type == "pong" %}
        <img alt="game type logo"
                src="/static/images/icons8-ping-pong-100.png"
                class="lastGameGameIcon" />
        {% else %}
        <img alt="game type logo"
                src="/static/images/icons8-snake-50.png"
                class="lastGameGameIcon" />
        {% endif %}
    </div>
    <div class="lastGameItemSubdiv scoreArea">
        <p>{{game.score}}</p>
    </div>
</div>