{% with lastGames=client.lastGames %}
<div class="row g-0 userLastGamesBox">
    {%if client.lastGames|length > 0 %}
    {% for match in client.lastGames|slice:":3" %}
    <div class="col-12 dashboard-lastGameItem {% if match.myTeam.winner %}gameWin{% else %}gameLoose{% endif %}">
        {% include "lastGamesItem.html" %}
    </div>
    {% endfor %}
    {% if client.lastGames|length > 3 %}
    <div class="col-12 d-flex justify-content-end align-items-center">
        <button class="showAllMatchesButton" onclick="openAllGamesModal()">{{ usersPage.showAllMatches }}</button>
    </div>
    {% endif %}
    {% else %}
    <p>{{ usersPage.noInfo }}</p>
    {% endif %}
</div>
{% include "allLastGamesModal.html" %}
{% endwith %}
