<div class="row">
    <div class="col-12">
        {% if stats is None %}
        <div class="row">
            <div class="col-12 col-md-6">
                No Info Yet
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column justify-content-center align-items-center w-100">
                    <h6>Wins Percentage</h6>
                    <div id="userWinsPercentDiv"></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column justify-content-start align-items-center w-100">
                    <div class="friendsIndividualStat">
                        <p class="friendsIndividualStatTitle">Total games</p>
                        <p class="friendsIndividualStatValue" id="totalGames">{{stats.totalGames}}</p>
                    </div>
                    <div class="friendsIndividualStat">
                        <p class="friendsIndividualStatTitle">Total wins</p>
                        <p class="friendsIndividualStatValue" id="totalWins">{{stats.totalWins}}</p>
                    </div>
                    <div class="friendsIndividualStat">
                        <p class="friendsIndividualStatTitle">Remote tournament wins</p>
                        <p class="friendsIndividualStatValue" id="totalTournamentWins">{{stats.totalTournamentWins}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>