#lastGamesContainer * {
    font-family: PressStart;
}

.dashboard-lastGameItem {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #0096FF;
    margin: 5px auto;
    transition: all 0.20s linear;
}
.dashboard-lastGameItem:hover {
    transform: scale(1.01);
}
.dashboard-lastGameItem h5,
.dashboard-lastGameItem p {
    text-align: center;
}
.dashboard-lastGameItem h5 {
    font-size: 12px;
}
.dashboard-lastGameItem p {
    font-size: 10px;
}
.dashboard-lastGameItem img {
    width: 25px;
    margin: 0 auto;
}
.opponentInfo {
    text-align: center;
    margin: auto 5px;
}
.opponentInfo p {
    margin-bottom: 0;
}

.showAllMatchesButton {
    all: unset;
    font-size: 10px;
    text-decoration:underline;
    margin-top: 5px;
}
.showAllMatchesButton:hover {
    color: #0096FF;
}
