canvas {
	border: 1px solid #fff;
	display: block;
}

#localGameContainer {
	min-height: 100vh;
	background-image: url("/static/images/neonPong.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}

#gameCountdownText {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: whitesmoke;
	font-size: 75px;
	font-family: PressStart;
	animation-name: timerAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#player1Score {
	position: absolute;
	top: 10%;
	left: 25%;
	text-align: center;
	color: whitesmoke;
	font-size: 40px;
	font-family: PressStart;
}

#player2Score {
	position: absolute;
	top: 10%;
	left: 75%;
	text-align: center;
	color: whitesmoke;
	font-size: 40px;
	font-family: PressStart;
}

@keyframes timerAnim {
	from {opacity: 0; transform:scale(0.1)}
	to {opacity: 1; transform:scale(1)}
}