.invitationBox{
	border: 3px solid black;
	border-radius: 5px;
	min-height: 35px;
	max-height: 80vh;
	padding: 25px 10px;
	background-color: #deeeef;
	overflow: scroll
}

.tabButtonsDiv {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid rgba(229, 229, 229);
	font-family: PressStart;
	font-size: 18px;
	font-weight: 600;
	position: relative;
	overflow-x: visible;
}
.tabButtonsDiv .tabButton {
	font-weight: 600;
	font-size: 18px;
	color: #919191;
	background: none;
	border: none;
	padding: 18px;
	cursor: pointer;
	outline: none;
}

.tabButton.activeTab {
	color: #7360ff;
}
.tabContentDiv {
	padding: 20px;
}
.tabContentDiv .tabContent {
	display: none;
	text-align: center;
	animation: moving 0.5s ease;
}
@keyframes moving {
	form{transform: translateX(50px);opacity: 0;}
	to{transform: translateX(0px);opacity: 1;}
}
.tabContentDiv .tabContent.activeTab {
	display: block;
}
.tabContentDiv .tabContent h4 {
	margin-bottom: 10px;
}
.line {
	position: absolute;
	top: 100%;
	left: 0;
	width: 90px;
	height: 5px;
	background-color: #7360ff;
	border-radius: 10px;
	transition: all 0.25s ease-in-out;
}

.invitesBox,
#friendsToInviteBox,
#othersToInviteBox {
	overflow-y: scroll;
}
.invitesBox::-webkit-scrollbar,
#friendsToInviteBox::-webkit-scrollbar,
#othersToInviteBox::-webkit-scrollbar,
.invitationBox::-webkit-scrollbar {
	display: none;
}

.invitesBox::-webkit-scrollbar,
.invitationBox::-webkit-scrollbar,
#friendsToInviteBox::-webkit-scrollbar,
#othersToInviteBox::-webkit-scrollbar  {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}


/*Individual Items*/

.options {
	margin-top: 0.25rem;
	border-radius: 0.375rem;
	border: 1px solid #252529;
	background: #17171a46;
}
.option {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem;
	border-bottom: 1px solid #252529;
	position: relative;
}

.option .checkedOpponent,
.option .opponentToInvitePicture {
	width: 1rem;
	height: 1rem;
}
.option img:last-child {
	margin-left: auto;
	color: #A881E6;
}
.checkedOpponent {
	display: none;
}
.label{
	color: #FBF9FE;
}
.option:has(input:checked),
.option:hover {
	border-bottom: 1px solid #252529ad;
	background-color: #2525298d;
}
.option:has(input:focus) {
	outline: 1px solid #A881E6;
}
.option:has(input:checked) .checkedOpponent {
	display: block;
}
.option input[type="radio"] {
	all: unset;
	position: absolute;
	inset: 0;
	cursor: pointer;
}


/* Invited Section */
.invitedButtons {
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.invitedButtons button {
	border: none;
	background: none;
	outline: none;
}
.invitedButton {
	width: 2rem;
	height: 2remrem;
	display: inline-block;
	padding: 2px;
	margin: auto 3px;
}
.invitedButton:active,
.invitedButton:focus {
	outline: none;
}
.invitedButton:hover img {
	transform: scale(1.05);
}
.invitedButton:active img {
	border-radius: 50%;
	border: 1px solid black;
}
.invitedButton:active img[alt="accept"] {
	background-color: rgba(51, 229, 51, 0.515);
}
.invitedButton:active img[alt="reject"] {
	background-color: rgba(230, 72, 72, 0.56);
}

.invitationStatus {
	margin-left: auto;
	font-size: 12px;
}

#cancelInvitationPageButton,
#inviteButton {
	margin-top: 20px;
	border: 3px solid black;
}
#cancelInvitationPageButton {
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
}
