#pongPageContainer {
    min-height: 100vh;
    background-image: url(https://cms-assets.tutsplus.com/cdn-cgi/image/width=480/legacy-premium-tutorials/posts/25462/images/25462_b92f519db9cdcecbff3eb2c0e2d459ea.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#pongPageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.pongDescriptionArea {
    text-align: justify;
    font-family: PressStart;
    color: whitesmoke;
    padding: 20px 60px;
}
.pongDescriptionArea h2,
.pongDescriptionArea h4{
    text-align: center;
    margin-bottom: 50px;
}

.pongPageButton {
    font-family: PressStart;
    border: 4px solid black;
    padding: 5px 10px;
    width: 40%;
    margin: 10px auto;
    transition: all 0.25s linear;
}
.pongPageButton:hover {
    transform: scale(1.05);
    border: 4px solid white;
    background-color: black;
    color: whitesmoke;
}
.pongPageButton:active {
    border: 4px solid blue;
    background-color: black;
    color: whitesmoke;
}