#set42passwordContainer {
	min-height: 100vh;
	background-image: url(https://us.123rf.com/450wm/diy13/diy131810/diy13181000253/109500360-table-tennis-racket-and-ball-on-blue-table-sports-competitions-in-table-tennis-retro-style-photo.jpg?ver=6);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 20px;
}

#set42passwordContainer * {
	font-family: PressStart;
}

.set42passwordBox {
	border: 3px solid black;
	border-radius: 10px;
	background-color: whitesmoke;
	padding: 30px 20px;
}

.set42passwordForm {
	background-color: rgba(239, 235, 229, 0.745);
	padding: 10px 5px;
}
#set42passworddescriprion {
	font-size: 10px;
	line-height: 1.5;
	margin-bottom: 25px;
}
