.signup-title-area {
	margin-bottom: 1vh;
}

#signup-profile-picture {
	width: 65%;
	margin-bottom: 1.5vh;
	border-radius: 5px;
}

.signup-confirmation-buttons-row {
	margin-top: 1.5vh;
}

.signUp-confirmation-button {
	margin: 1vh 0;
}


