#main-menu-main-container {
	min-height: 100vh;
	background-image: url("../../Media/Images/MainMenu/main-menu-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.title-area, .menu-input-area {
	text-align: left;
	padding-left: 3vw;
	font-weight: bolder;
}

.title-area h1{
	font-size: 4rem;
	padding-top: 25vh;
}

.menu-input-area {
	padding-top: 3vh;
	font-size: 2rem;
}
.menu-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	padding: 10px 0;
	transition: all 0.25s linear;
}
.menu-button:hover {
	transform: scale(1.05);
}

@media only screen and (max-width: 576px) {
	.title-area h1{
		font-size: 2rem;
		padding-top: 28vh;
	}
	
	.menu-input-area {
		padding-top: 4vh;
		font-size: 1.3rem;
	}
	#main-menu-main-container {
		background-position: bottom;
	}
}
@media only screen and (min-width: 577px) and (max-width: 776px) {
	.title-area h1{
		font-size: 4rem;
		padding-top: 28vh;
	}
	
	.menu-input-area {
		padding-top: 10vh;
		font-size: 2rem;
	}
	#main-menu-main-container {
		background-position: right;
	}
}