.code-area {
	margin-top: 7vh;
	margin-bottom: 3vh;
}

.phone-input {
	text-align: center;
	width: 45px;
	height: 45px;
	margin: 1px;
}


@media only screen and (max-width: 576px) {
	.phone-input {
		text-align: center;
		width: 30px;
		height: 30px;
		margin: 1px;
	}
}

