#logo-42-school {
	width: 10%;
}

@media only screen and (max-width: 576px) {
	#logo-42-school {
		width: 30%;
	}
	#button-42 {
		width: 80%;
	}
}

@media only screen and (min-width: 577px) and (max-width: 776px) {
	#logo-42-school {
		width: 25%;
	}
}

.only-phone {
	display: none;
}


@media only screen and (max-width: 576px) {
	.only-phone {
		display: block;
	}
}
