<div class="container-fluid" id="page404">
    <div class="darkOverlay"></div>
    <div class="row">
        <div class="col-12">
            <img alt="404"
                 src="/static/images/404White.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 info404">
            <h1>PAGE NOT FOUND</h1>
            <p>The Page you are trying to access does not exist or it is unavailable</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a id="GoToHome404" href="/" onclick="route()">Go to homepage</a>
        </div>
    </div>
</div>
