<div class="modalBg" id="registerNewPlayerModalBg" onclick="closeRegisterPlayerModal()"></div>
<div class="row" id="addNewPlayerModal">
	<div class="col-10 offset-1 col-md-6 offset-md-3">
		<div id="modalBox">
			<form onsubmit="addPlayer(event)">
				<div class="form-group">
					<label for="newPlayerInputName">Name</label>
					<input
						type="text"
						name="name"
						placeholder="Name"
						id="newPlayerInputName"
						class="form-control"
					/>
					<button
						type="submit"
						class="btn btn-success"
					>Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

