<div class="ModalContainer container-fluid">
	<div class="ModalContainerBG" onclick="togglePictureModal()"></div>
	<div id="changePictureBox">
		<h4>{{ dashboardTexts.changePicture }}</h4>
		<div class="dropArea">
			<form enctype="multipart/form-data" id="updatePictureForm">
				{% csrf_token %}
				<p>{{ dashboardTexts.dropDescription }}</p>
				<img
					id="previewUploadedImage"
				/>
				{{form.as_p}}
			</form>
		</div>
		<button class="btn btn-success" id="saveUploadedPictureButton">{{ dashboardTexts.saveButton }}</button>
	</div>
</div>
