<svg height="120" width="120" viewBox="-60 -60 120 120"
    data-pie=""
    data-color="text"
    data-percent="60"
    data-delay="600"
    data-speed="1200"
>
    <circle
        r="50"
        fill="transparent"
        stroke-width="10"
        stroke="blue"
        pathlength="100"
        stroke-dasharray="100"
        stroke-dashoffset="100"
    />
    <text aria-hidden="true" fill="whitesmoke"></text>
    <style type="text/css">
        circle {
            transform: rotate(-90deg);
        }
        text {
            font-size: 20px;
            font-family: PressStart;
            font-weight: bold;
            line-height: 1;
            text-anchor: middle;
            dominant-baseline: middle;
            color: whitesmoke;
            opacity: 0;
            transform: translateY(20%);
        }
    </style>
</svg>