{% include "menus.html" %}
<div class="container-fluid" id="dashboardContainer">
	<div class="darkOverlay"></div>
	<div class="row" style="height: 100vh;">
		<div class="col-12">
			<div class="row protectedPageContent">
				{% if user.is_authenticated %}
				<div class="col-10 offset-1">
					<div class="row" style="color: whitesmoke;">
						<div class="col-12 dashboardSection">
							{% include "dashboardProfile.html" %}
						</div>
						<div class="col-12 col-md-4 dashboardSection">
							{% include "lastGames.html" %}
						</div>
						<div class="col-12 col-md-4 dashboardSection">
							Stats
						</div>
						<div class="col-12 col-md-4 dashboardSection">
							Achievements
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
