<div class="container-fluid" id="dashboardContainer">
	<div class="row">
		<div class="col-12">
			<div class="protectedNavbar">
				{% if user.is_authenticated %}
					<p id="navbarUsername">{{user.get_username}}</p>
				{% endif %}
			</div>
			<div id="sideMenuContainer">
				<div class="mainItems">
					<img
						class="sideMenuItemIcon"
						alt="Games"
						id="sideMenuGamesIcon"
					/>
					<img
						id="sideMenuDashboardIcon"
						class="sideMenuItemIcon"
						alt="Dashboard"
					/>
				</div>
				<div class="logoutArea">
					<img
						onclick="navigateTo('/settings')"
						id="sideMenuSettingsIcon"
						class="sideMenuItemIcon"
						alt="Settings"
					/>
					<img
						id="sideMenuLogoutIcon"
						class="sideMenuItemIcon"
						alt="Logout"
						onclick="logoutUser()"
					/>
				</div>
			</div>
			<div class="row">
				<div></div>
			</div>
		</div>
	</div>
</div>
