<div class="row">
    <div class="col-12 col-md-8 col-xl-6 offset-md-2 offset-xl-3">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div>
                <img alt="user profile picture"
                     id="dashboardUserProfilePic"
                     src="../static/images/profileIconWhite.png" />
                <h6 id="dashboardUserProfileName">{{user.get_username}}</h6>
            </div>
            <div class="coalitionArea">
                <img alt="user coalition logo"
                     src="../static/images/buildersSymbol.svg"
                     id="dashboardUserCoalitionPic" />
                <p id="dashboardUserCoalitionName">Builders</p>
            </div>
        </div>
    </div>
</div>