{% include "menus.html" %}
<div class="container-fluid" id="dashboardContainer">
	<div class="row" style="height: 100vh;">
		<div class="col-12">
			<div class="row protectedPageContent">
				{% if user.is_authenticated %}
				<div class="col-10 offset-1">
					<div class="row" style="color: whitesmoke;">
						<div class="col-12 col-md-6">
							<div class="row">
								<div class="col-8">
									<div class="d-flex flex-column align-items-center justify-content-center w-100">
										<img alt="user profile picture"
											 id="dashboardUserProfilePic"
											 src="../static/images/profileIcon.png" />
										<h3 id="dashboardUserProfileName">{{user.get_username}}</h3>
									</div>
								</div>
								<div class="col-4">
									<div class="coalitionArea">
										<img alt="user coalition logo"
											 src="../static/images/buildersSymbol.svg"
											 id="dashboardUserCoalitionPic" />
										<h5 id="dashboardUserProfileName">Builders</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							Last games
						</div>
						<div class="col-12 col-md-6">
							Stats
						</div>
						<div class="col-12 col-md-6">
							Achievements
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
