{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'css/stats.css' %}">
	<link rel="stylesheet" href="{% static 'css/languagesDropdown.css' %}">
	<link rel="stylesheet" href="{% static 'css/invitations.css' %}">
	<link rel="stylesheet" href="{% static 'css/pongPage.css' %}">
	<link rel="stylesheet" href="{% static 'css/pongRegistration.css' %}">
	<link rel="stylesheet" href="{% static 'css/menus.css' %}">
	<link rel="stylesheet" href="{% static 'css/lastGames.css' %}">
	<link rel="stylesheet" href="{% static 'css/tournamentBracket.css' %}">
	<link rel="stylesheet" href="{% static 'css/tournamentStart.css' %}">
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
	<link rel="stylesheet" href="{% static 'css/friends.css' %}">
	<link rel="stylesheet" href="{% static 'css/pong1v1.css' %}">
	<link rel="stylesheet" href="{% static 'css/pong2v2.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/usersPage.css' %}">
	<link rel="stylesheet" href="{% static 'css/remoteTournament.css' %}">
	<link rel="stylesheet" href="{% static 'css/remoteLobby.css' %}">
	<link rel="stylesheet" href="{% static 'css/localPongGame.css' %}">
	<link rel="stylesheet" href="{% static 'css/allLastGamesModal.css' %}">
	<link rel="stylesheet" href="{% static 'css/404.css' %}">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
	<!-- Include Three.js library from CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
	<script type="text/javascript">
		// Fix for Firefox autofocus CSS bug
		// See: http://stackoverflow.com/questions/18943276/html-5-autofocus-messes-up-css-loading/18945951#18945951
	</script>
</head>
<body>
	<div id="root">
		<div id="loadingSpinnerContainer">
			<div class="spinner-border text-primary" style="width: 100px; height: 100px;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div id="page-content">
			{% block content %}
			{% if content %}
			{% include content %}
			{% endif %}
			{% endblock %}
		</div>
	</div>
	<script src="{% static 'js/friendsInvitations.js' %}"></script>
	<script src="{% static 'js/set42password.js' %}"></script>
	<script src="{% static 'js/Classes/match.js' %}"></script>
	<script src="{% static 'js/Classes/ContentDisplayManager.js' %}"></script>
	<script src="{% static 'js/LocalGame/pongObject.js' %}"></script>
	<script src="{% static 'js/LocalGame/local1v1Game.js' %}"></script>
	<script src="{% static 'js/LocalGame/local2v2Game.js' %}"></script>
	<script src="{% static 'js/Classes/schedule.js' %}"></script>
	<script src="{% static 'js/Classes/fragmentGenerator.js' %}"></script>
	<script src="{% static 'js/Classes/modalClass.js' %}"></script>
	<script src="{% static 'js/CircleChart.js' %}"></script>
	<script src="{% static 'js/Stats.js' %}"></script>
	<script src="{% static 'js/usersPage.js' %}"></script>
	<script src="{% static 'js/Classes/Modal.js' %}"></script>
	<script src="{% static 'js/Classes/Bracket.js' %}"></script>
	<script src="{% static 'js/sideMenu.js' %}"></script>
	<script src="{% static 'js/Menus.js' %}"></script>
	<script src="{% static 'js/dashboard.js' %}"></script>
	<script src="{% static 'js/registration.js' %}"></script>
	<script src="{% static 'js/localTournamentBoard.js' %}"></script>
	<script src="{% static 'js/pongTournamentCreation.js' %}"></script>
	<script src="{% static 'js/Classes/localTournamentClass.js' %}"></script>
	<script src="{% static 'js/pongTournamentLobby.js' %}"></script>
	<script src="{% static 'js/pong1v1.js' %}"></script>
	<script src="{% static 'js/pong2v2.js' %}"></script>
	<script src="{% static 'app.js' %}"></script>
	<script src="{% static 'router.js' %}"></script>
</body>
</html>
