{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="root">
        <div id="page-content">

		</div>
    </div>
    <script src="{% static 'router.js' %}"></script>
	<script src="{% static 'app.js' %}"></script>
</body>
</html>
