<div class="ModalContainer container-fluid" id="invitationsModal">
    <div class="ModalContainerBG" onclick="closeInvitationsModal()"></div>
    <div class="row w-100">
        <div class="col-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
            <div class="d-flex align-items-center justify-content-center flex-column w-100 invitationsBox">
                <div class="row">
                    <div class="col-12">
                        <h4 id="invitationsTitle">{{ invitationsTexts.modalTitle }}</h4>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-center flex-column w-100" id="invitationsArea">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
