<div class="lan-dropdown" id="language-dropdown" data-dropdown>
	<button class="lan-link" data-lan-dropdown-btn onclick="toggleDropdown(event)">
		<img
			alt="current language button"
			id="lan-currentLanguage"
		/>
	</button>
	<ul class="lan-dropdown-menu">
		<li class="lan-dropdown-item" onclick="selectLanguage('spain')">
			<img src="/static/images/spain.png" alt="spain flag" class="dropdownFlag"/>
			<p>Spanish</p>
		</li>
		<li class="lan-dropdown-item" onclick="selectLanguage('portugal')">
			<img src="/static/images/portugal.png" alt="portuguese flag" class="dropdownFlag"/>
			<p>Portuguese</p>
		</li>
		<li class="lan-dropdown-item" onclick="selectLanguage('denmark')">
			<img src="/static/images/denmark.png" alt="danish flag" class="dropdownFlag"/>
			<p>Danish</p>
		</li>
		<li class="lan-dropdown-item" onclick="selectLanguage('england')">
			<img src="/static/images/england.png" alt="english flag" class="dropdownFlag"/>
			<p>English</p>
		</li>
		<li class="lan-dropdown-item" onclick="selectLanguage('sweden')">
			<img src="/static/images/sweden.png" alt="swedish flag" class="dropdownFlag"/>
			<p>Swedish</p>
		</li>
		<li class="lan-dropdown-item" onclick="selectLanguage('finland')">
			<img src="/static/images/finland.png" alt="finnish flag" class="dropdownFlag"/>
			<p>Finnish</p>
		</li>
	</ul>
</div>

