<div class="row">
    <div class="col-12 col-md-3 d-flex align-items-center text-center justify-content-center">
        <p class="matchDate">{{match.date}}</p>
    </div>
    <div class="col-12 col-md-5">
        <h5>{% if match.opponentTeam.players|length > 1 %}{{ gamesTexts.opponents }}{% else %}{{ gamesTexts.opponent }}{% endif %}</h5>
        <div class="row g-0">
            <div class="col-12 d-flex align-items-center justify-content-around flex-wrap">
                {% for user in match.opponentTeam.players %}
                <div class="d-flex justify-content-center align-items-center flex-column opponentInfo">
                    <img alt="opponent picture"
                         class="playedMatchOpponentPic"
                         src="{{ user.avatar_image|default:'/static/images/profileIcon.png' }}" />
                    <p>{{user.username}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center text-center">
        <p>{{match.score}}</p>
    </div>
</div>
