<div class="lastGameItemBox">
    <div class="row">
        <div class="col-6">
            <div class="row">
				<div class="col-12">
					<div class="lastMatchesInfoDiv">
						<img alt="opponent profile picture"
							 class="lastGameItemOpponentPicture"
							 src="/static/images/profileIcon.png" />
						<p>Andre</p>
					</div>
				</div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="row">
				<div class="col-12">
					<div class="lastMatchesInfoDiv">
						<img alt="last game icon"
							 class="lastGameItemGameIcon"
							 src="/static/images/icons8-snake-50.png" />
						<p>3-0</p>
					</div>
				</div>
            </div>
        </div>
        <div class="col-2 md-hide">
            <img alt="last game score icon"
                 class="lastGameItemScoreIcon"
                 src="/static/images/correct.svg" />
        </div>
    </div>
</div>
