<div id="loginContainer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 id="titleLogin">Login</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3">
				<form onsubmit="event.preventDefault(); submitLogin()" method="post" action="/">
					{% csrf_token %}
					<div class="form-group">
						<label for="{{ form.username.id_for_label}}" class="loginLabel" >Username:</label>
						{{ form.username }}
					</div>
					<div class="form-group" id="loginPasswordGroup">
						<label for="{{ form.password.id_for_label}}" class="loginLabel" >Password:</label>
						{{ form.password }}
					</div>
					<button
						type="submit"
						id="loginButton"
						class="btn btn-success w-100 mt-5"
					>Login</button>
				</form>
			</div>
		</div>
	</div>
</div>
