<div id="homepageContainer">
	<nav id="navbar">
		<a href="/signup" onclick="route()" class="homepageNavbarElement">Register</a>
	</nav>
	<h1 id="homepageTitle">Ft-Transcendence</h1>
	{% if error %}
		<div class="error42div">
			<p>{{ error }}</p>
		</div>
	{% endif %}
	<div id="homepageButtons">
		<h3>Sign in with</h3>
		<a href="{{ url42 }}" id="button42">
			<img
				alt="42 logo for signin"
				src="/static/images/42_Logo_white.svg"
				id="logo42"
			/>
		</a>
		<p id="orText">or</p>
		<a href="/login" class="homepageButton" onclick="route()" id="button">Normal login</a>
	</div>
</div>

