<nav class="protectedNavbar menu">
    {% if user.is_authenticated %}
	<div id="search-container">
		<img
			alt="search button"
			src="/static/images/search.png"
			id="searchButton"
            tabindex="0"
		/>
		<input
			type="search"
			class="search"
			placeholder="{{ menus.searchPlaceholder }}"
			id="search"
			oninput="onInput(event)"
		>
		<div id="dropdownMenu" class="dropdownCollapsed"></div>
	</div>
    <p id="navbarUsername">{{user.get_username}}</p>
	{% include "languagesDropdown.html" %}
    {% endif %}
</nav>
<button id="menuHamburger" class="hamburgerNotExpanded"
     onclick="toggleMenu()"
     onmouseover="menuOnHover()"
     onmouseout="menuOnMouseLeave()"
     tabindex="0">
    <div class="hamburgerSpan"></div>
    <div class="hamburgerSpan"></div>
    <div class="hamburgerSpan"></div>
</button>
<div onclick="toggleMenu()" id="sideMenuExpandBg"></div>
<div id="sideMenuContainer" class="menu sideMenuNotExpanded">
    <div class="sideMenuHeader">
        <img alt="profile picture"
             src={{source}}
             id="sideMenuProfilePic"
             tabindex="0"/>
        {% if user.is_authenticated %}
        <p id="sideMenuProfileName">{{user.get_username}}</p>
        {% endif %}
    </div>
    <div class="mainItems">
        <div class="sideMenuItem" onclick="navigateTo('/pong')">
            <img class="sideMenuItemIcon"
                 alt="Pong"
                 id="sideMenuPongIcon"
            />
            <p>Pong</p>
        </div>
        <div class="sideMenuItem" onclick="navigateTo('/')">
            <img id="sideMenuDashboardIcon"
                 class="sideMenuItemIcon"
                 alt="Dashboard"
            />
            <p>{{ menus.dashboard }}</p>
        </div>
    </div>
    <div class="logoutArea">
        <img onclick="navigateTo('/settings')"
             id="sideMenuSettingsIcon"
             class="sideMenuItemIcon"
             alt="Settings">
        <img id="sideMenuLogoutIcon"
             class="sideMenuItemIcon"
             alt="Logout"
             onclick="logoutUser()">
    </div>
</div>
