<div class="protectedNavbar menu">
    {% if user.is_authenticated %}
	<div id="search-container">
		<img
			alt="search button"
			src="/static/images/search.png"
			id="searchButton"
		/>
		<input
			type="search"
			class="search"
			placeholder=""
			id="search"
			oninput="onInput(event)"
		>
	</div>
    <p id="navbarUsername">{{user.get_username}}</p>
    {% endif %}
</div>
<div id="menuHamburger" class="hamburgerNotExpanded"
     onclick="toggleMenu()"
     onmouseover="menuOnHover()"
     onmouseout="menuOnMouseLeave()">
    <div class="hamburgerSpan"></div>
    <div class="hamburgerSpan"></div>
    <div class="hamburgerSpan"></div>
</div>
<div onclick="toggleMenu()" id="sideMenuExpandBg"></div>
<div id="sideMenuContainer" class="menu sideMenuNotExpanded">
    <div class="sideMenuHeader">
        <img alt="profile picture"
             src="../static/images/profileIcon.png"
             id="sideMenuProfilePic" />
        {% if user.is_authenticated %}
        <p id="sideMenuProfileName">{{user.get_username}}</p>
        {% endif %}
    </div>
    <div class="mainItems">
        <div class="sideMenuItem">
            <img class="sideMenuItemIcon"
                 alt="Pong"
                 id="sideMenuPongIcon"
                 onclick="navigateTo('/pong')" />
            <p>Pong</p>
        </div>
        <div class="sideMenuItem">
            <img class="sideMenuItemIcon"
                 alt="Snake"
                 id="sideMenuSnakeIcon" />
            <p>Snake</p>
        </div>
        <div class="sideMenuItem">
            <img id="sideMenuDashboardIcon"
                 class="sideMenuItemIcon"
                 alt="Dashboard"
                 onclick="navigateTo('/')"
            />
            <p>Dashboard</p>
        </div>
    </div>
    <div class="logoutArea">
        <img onclick="navigateTo('/settings')"
             id="sideMenuSettingsIcon"
             class="sideMenuItemIcon"
             alt="Settings" />
        <img id="sideMenuLogoutIcon"
             class="sideMenuItemIcon"
             alt="Logout"
             onclick="logoutUser()" />
    </div>
</div>
