<div class="container-fluid d-flex justify-content-center align-items-center" id="set42passwordContainer">
	<div class="darkOverlay"></div>
	<div class="row">
		<div class="col-12 col-md-8 col-xl-6 offset-md-2 offset-xl-3 set42passwordBox m-auto text-center">
			<h1>{{ texts.setPassword }}</h1>
			<p id="set42passworddescriprion">{{ texts.description }}</p>
			<form class="my-3 set42passwordForm" onsubmit="set42password(event)">
				{% csrf_token %}
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="{{ form.password1.id_for_label }}">{{ texts.password }}</label>
							{{ form.password1 }}
						</div>
						<div class="form-group">
							<label for="{{ form.password2.id_for_label }}">{{ texts.confirmPassword }}:</label>
							{{ form.password2 }}
						</div>
						<p id="errorMessage42password" class="inputError"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-center align-items-center flex-column mt-3">
						<button class="btn btn-success w-100 my-1" type="submit">{{ texts.confirmButton }}</button>
						<button class="btn btn-danger w-100 my-1" type="button" onclick="cancel42password(event)">{{ texts.cancelButton }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
