<div class="container-fluid settingsContainer">
	<div class="row">
		<div class="col-10 offset-1 col-md-8 offset-md-2 settingsBox">
			<h2>{{ texts.seccion }}</h2>
			<form onsubmit="handleChangeProfile(event)" method="put" action="{% url 'settings' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="{{ form.username.id_for_label}}" class="loginLabel">{{ texts.username }}</label>
					{{ form.username }}
				</div>
				<div class="form-group" id="loginPasswordGroup">
					<label for="{{ form.firstName.id_for_label}}" class="loginLabel">{{ texts.firstName }}</label>
					{{ form.firstName }}
				</div>
				<div class="form-group" id="loginPasswordGroup">
					<label for="{{ form.lastName.id_for_label}}" class="loginLabel">{{ texts.lastName }}</label>
					{{ form.lastName }}
				</div>
				<div class="form-group" id="loginPasswordGroup">
					<label for="{{ form.password1.id_for_label}}" class="loginLabel">{{ texts.password1 }}</label>
					{{ form.password1 }}
				</div>
				<div class="form-group" id="loginPasswordGroup">
					<label for="{{ form.password2.id_for_label}}" class="loginLabel">{{ texts.passwordConfirmation }}</label>
					{{ form.password2 }}
				</div>
				<div class="form-group" id="loginPasswordGroup">
					<label for="{{ form.email.id_for_label}}" class="loginLabel">{{ texts.email }}</label>
					{{ form.email }}
				</div>
				<div class="form-group" id="loginPasswordGroup">
					<label for="{{ form.language.id_for_label}}" class="loginLabel">{{ texts.languageMessage }}</label>
					{{ form.language }}
				</div>
				<button
					type="button"
					class="btn btn-success w-100 changeProfileButton"
					onclick="openSettingsModal()"
				>{{ texts.confirmButton }}</button>
				<button
					type="button"
					class="btn btn-danger w-100 changeProfileButton"
					onclick="navigateTo('/')"
				>{{ texts.cancelButton }}</button>
				{% include "settingsModal.html" %}
			</form>
		</div>
	</div>
</div>
<div id="loadingSpinnerContainer">
	<div class="spinner-border text-primary" style="width: 100px; height: 100px;" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
