<div id="settingsModalContainer">
	<div class="bracketBg" onclick="closeSettingsModal()"></div>
	<div id="confirmationBox">
		<p>Are you sure you want to save the new changes?</p>
		<label for="{{ form.username.id_for_label}}" class="loginLabel">{{form.password3.label}}</label>
		{{form.password3}}
		<button
			class="btn btn-success w-100 mt-2"
			type="submit"
		>Yes</button>
		<button
			type="button"
			class="btn btn-danger w-100 mt-2"
			onclick="closeSettingsModal()"
		>No</button>
	</div>
</div>
