<div class="registerContainer">
	<nav id="navbar">
		<a href="/signup" onclick="route()" class="homepageNavbarElement">{{ texts.register }}</a>
		{% include "changeLanguage.html" %}
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3">
				<div id="sign-up-box">
					<div class="row">
						<div class="col-12">
							<h1 class="registerTitle" id="signupTitle">{{ texts.title }}</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<form onsubmit="submitSignup(event)" method="POST" action="{% url 'postSignup' %}">
								{% csrf_token %}
								<div class="form-group">
									<label for="{{ form.username.id_for_label }}" class="loginLabel">{{ texts.username }}</label>
									{{form.username}}
									<p class="signupErrorMessage" id="signupUsernameError"></p>
								</div>
								<div class="form-group">
									<label for="{{ form.email.id_for_label}}" class="loginLabel">{{ texts.email }}</label>
									{{form.email}}
									<p class="signupErrorMessage" id="signupEmailError"></p>
								</div>
								<div>
									<label for="{{ form.coallition.id_for_label }}" class="loginLabel">{{ texts.coalition }}</label>
									<ul id="coallitionOptions">
										{% for radio in form.coallition %}
										<li class="coallitionOption">
											<img alt="coallition logo"
												 class="signupCoallitionLogo" />
											{{ radio.tag }}
										</li>
										{% endfor %}
									</ul>
								</div>
								<div class="form-group">
									<label for="{{ form.password1.id_for_label }}" class="loginLabel">{{ texts.password }}</label>
									{{form.password1}}
									<p class="signupErrorMessage" id="signupPassword1Error"></p>
								</div>
								<div class="form-group">
									<label for="{{ form.password2.id_for_label }}" class="loginLabel">{{ texts.passwordConfirmation }}</label>
									{{form.password2}}
									<p class="signupErrorMessage" id="signupPassword2Error"></p>
								</div>
								<button type="submit"
										class="btn btn-success w-100 mt-4">
									{{ texts.registerButton }}
								</button>
							</form>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-8 offset-2">
							<a href="login"
							   onclick="route()"
							   class="registerLink">{{ texts.loginMessage }}</a>
						</div>
						<div class="col-md-4 offset-4">
							<button class="btn btn-danger w-100"
									onclick="navigateTo('/')">
								{{ texts.cancelButton }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="loadingSpinnerContainer">
		<div class="spinner-border text-primary" style="width: 100px; height: 100px;" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>
