<div class="row">
    <div class="col-12">
        <h2 id="tournamentTitle"></h2>
        <h5 id="tournamentLobbyTitle">Lobby</h5>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <div class="row">
                    <div class="col-12">
                        <h5 id="registeredPlayersTitle">Registered Players</h5>
                        <p id="currentNumberPlayers"></p>
                    </div>
                    <div class="col-12">
                        <div id="registeredPlayerBox">
                            {% include "registeredPlayers.html" %}
                        </div>
                        <button class="btn btn-success addNewPlayerBtn"
                                onclick="openRegisterPlayerModal({isNew: true, id: -1})"
                                id="addNewPlayerButton">
                            Add new player
                            <img alt="add player button"
                                 src="/static/images/add.png"
                                 class="registerNewPlayerButtonIcon" />
                        </button>
                        <button class="btn btn-success addNewPlayerBtn"
                                onclick="startTournament()"
                                id="startTournamentBtn">
                            Start
                        </button>
                        <button class="btn btn-danger addNewPlayerBtn"
                                onclick="navigateTo('/')">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
