{% include "menus.html" %}
<div class="container-fluid" id="friendsPageContainer">
	<div class="row align-items-center" style="height: 100vh;">
		<div class="col-12 col-xl-8 offset-xl-2 justify-content-center">
			<div class="friendsBox">
				<div class="row">
					<div class="col-12 col-md-5 friendInfoBox">
						<div class="row">
							<div class="col-12">
								<div class="personalDiv">
									<div id="personalDivPicDiv">
										<img
											alt="friend picture"
											id="friendAvatar"
											src="/static/images/profileIcon.png"
										/>
										<img
											alt="friend coallition logo"
											id="friendCoallitionLogo"
											src="/static/images/buildersSymbol.svg"
										/>
									</div>
									<p>Andre</p>
									<p id="userOnlineStatus"><span></span>Online</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<button class="btn btn-secondary w-100 friendButton">Challenge for pong</button>
								<button class="btn btn-dark w-100 friendButton">Challenge for snake</button>
								<button class="btn btn-danger w-100 friendButton">Remove as friend</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-7 friendInfoBox">
						<div class="row">
							<div class="col-12">
								<h4>Stats</h4>
								<div id="friendWinsPercentDiv"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								LAST GAMES!!!!!!!
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
