{% include "menus.html" %}
<div class="container-fluid protectedPageContent" id="friendsPageContainer">
	<div class="row">
		<div class="col-12 col-xl-8 offset-xl-2 d-flex justify-content-center">
			{% if client is None %}
			<h3>That user does not exist</h3>
			<button class="btn btn-secondary" onclick="goBack()">Go back</button>
			{% else %}
			<div class="friendsBox">
				<div class="row">
					<div class="col-12 col-md-5 friendInfoBox">
						{% include "UsersPage/infoArea.html" %}
					</div>
					<div class="col-12 col-md-7 friendInfoBox">
						{% include "UsersPage/statsArea.html" %}
						{% include "UsersPage/lastGamesArea.html" %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
