<div class="row w-100 invitationItem" id="invitationItem">
    <div class="col-12 col-md-6">
        <div class="userInfo">
            <img alt="user picture"
                 src="/static/images/profileIcon.png"
                 class="userInvitePic" />
            <p id="invitedByUsername"></p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="invitationActions">
            <button class="btn btn-success invitationActionbutton" id="acceptInvitation">Accept</button>
            <button class="btn btn-danger invitationActionbutton" id="rejectInvitation">Reject</button>
        </div>
    </div>
</div>