.nav-bar-top {
	height: 35px;
	width: 100vw;
	background-color: var(--dark);
	position: fixed;
	z-index: 99;
}

.level-div {
	height: 35px;
}

.level-txt {
	background-color: blue;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 7px auto;
}

.nav-bar-description{
	color: white;
	margin: auto;
}

.children-area {
	padding-top: 35px;
	padding-left: 100px;
	min-height: 100vh;
	overflow-x: hidden;
}
@media only screen and (max-width: 576px) {
	.children-area {
		padding-left: 60px;
	}
}
