<div class="container-fluid" id="pongTournamentScorePage">
    <div class="blackOverlay"></div>
    <div class="row  w-100">
        <div class="col-12 col-md-6 offset-md-3">
            <div id="afterGameScoreBox">
                <div class="row">
                    <div class="col-12">
                        <p id="scoreGameStage"></p>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="scorePlayerDiv">
                            <p id="scorePlayerOneName" class="scorePlayerName"></p>
                            <p id="scorePlayerOnePoints" class="scorePlayerPoints"></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <p>vs</p>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="scorePlayerDiv">
                            <p id="scorePlayerTwoName" class="scorePlayerName"></p>
                            <p id="scorePlayerTwoPoints" class="scorePlayerPoints"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 col-md-6 offset-md-3">
            <button
                class="btn btn-success w-100"
                onclick="continueAfterScorePage()"
            >Continue</button>
        </div>
    </div>
</div>
