<div class="container-fluid" id="pongTournamentStart">
    <div class="blackOverlay"></div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="row">
                <div class="col-12">
                    <h2 id="tournamentTitle"></h2>
                </div>
                <div class="col-12">
                    <h3>Congratulations</h3>
                    <p id="localWinnerUsername"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <button
                id="endLocalTournamentContinueButton"
                class="btn btn-success"
                onclick="cancelLocalTournament()"
            >Continue</button>
        </div>
    </div>
</div>
